
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home | SIH</title>
        <!-- Bootstrap Core CSS -->
        <link href="{{url_for('static',filename = 'css/bootstrap.css')}}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{url_for('static',filename = 'css/style.css')}}" rel="stylesheet">
        <!-- jQuery -->
        <script src="{{url_for('static',filename = 'js/jquery.js')}}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{url_for('static',filename = 'js/bootstrap.min.js')}}"></script>
        <link href="{{url_for('static',filename = 'style.css')}}" rel="stylesheet">
<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
    

    </head>



    <body style="padding-top: 50px;">
        <!-- Header -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                      <a class="navbar-brand" href="/"><img  src="{{url_for('static',filename = 'img/2.png')}}" style="width: 250px; height: 60px;position: absolute;left: 5%;top: 2%;" ></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"><span style="margin-top: 10px;" class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
                            </ul>
                </div>
            </div>
        </div>
        <!--Header end-->
        <div id="content">
            <!--Main banner image-->
            <div id = "banner_image">
                <div class="container">	
                  
                        <div id="banner_content">
                         
                           <br><br><br><br><br><br>
                            <section class="search-sec">
                            
                            
                            
                            
                            
                    <div class="container">
                        <form action="" method="POST">
                           
                        
                            
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12">
                                <div class="form-group">
                                <select class="form-control search-slt" name="education">
                                <option>Education</option>
                                <option value="BE" required="true">BE</option>
                                <option value="MBBS" required="true">MBBS</option>
                                <option value="MTech" required="true">MTech</option>
                                <option value="MCA" required="true">MCA</option>
                                <option value="Bsc" required="true">Bsc</option>
                                <option value="Msc" required="true">MSc</option>
                                <option value="a" required="true">MSc</option>
                                </select>
                                </div>
                                </div>
                               
                                <div class="col-lg-2 col-md-2 col-sm-12">
                                <div class="form-group">
                                <select class="form-control search-slt" name="job-title">
                                <option>Job Title</option>
                                <option value="PROCESS ENGINEER" required="true">PROCESS ENGINEER</option>
                                <option value="GRAPHIC DESIGNER" required="true">GRAPHIC DESIGNER</option>
                                <option value="WEB DEVELOPER" required="true">WEB DEVELOPER </option>
                                <option value="UI/ UX DESIGNER" required="true">UI/ UX DESIGNER</option>
                                <option value="SALES ENGINEER" required="true">SALES ENGINEER</option>
                                <option value="JAVA DEVELOPER" required="true">JAVA DEVELOPER<10</option>
                                </select>
                                </div>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-12">
                                <div class="form-group">
                                <select class="form-control search-slt" name="sector">
                                <option>Sector</option>
                                <option value="Engineering" required="true">Engineering</option>
                                <option value="IT/Software Development" required="true">IT/Software Development</option>
                                <option value="Sales/Retail/Business Development" required="true">Sales/Retail/Business Development</option>
                                <option value="Education/Training" required="true">Education/Training</option>
                                <option value="Marketing" required="true">Marketing</option>
                                <option value="Editorial/Writing" required="true">Editorial/Writing</option>
                                </select>
                                </div>
                                </div>
                                
                               
                                <div class="col-lg-2 col-md-2 col-sm-12">
                                <div class="form-group">
                                <select class="form-control search-slt" name="city">
                                <option>City</option>
                                <option value="BENGALURU" required="true">BENGALURU</option>
                                <option value="PUNE" required="true">PUNE</option>
                                <option value="MUMBAI" required="true">MUMBAI</option>
                                <option value="MAADI" required="true">MAADI</option>
                                <option value="HYDERABAD" required="true">HYDERABAD</option>
                                <option value="DELHI" required="true">DELHI</option>
                                </select>
                                </div>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-12">
                                    <div class="form-group">
                                        <input type="number" class="form-control search-slt" name="Salary" placeholder="Salary in K">
                                        </div>
                                        </div>



                            </div>
                      

                      

                              

                                
                          









                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-lg-12 col-md-12 col-sm-12 controls">
                                    <button type="submit" name="submit" class="btn btn-danger btn-lg">Search</button>
                                     
                                    </div>
                                </div>


                               
                            </form> 
                        
                    </div>   
                </section> 
                </div>
                </div>
                </div>
                </div>


          <!--Item categories listing-->
       
        
           <div class="container-fluid" style="background-color: rgb(223, 223, 223);">
            <div class="row text-center" id="item_list">
                <div class="col-sm-4">

                    <div class="thumbnail">
                        <img src="{{url_for('static',filename = 'img/gov.png')}}" alt="">

                    </div>
                    </a>
                </div>

                <div class="col-sm-4">

                    <div class="thumbnail">
                        <img src="{{url_for('static',filename = 'img/sih.jpg')}}" alt="">

                    </div>
                    </a>
                </div>

                <div class="col-sm-4">

                    <div class="thumbnail">
                        <img src="{{url_for('static',filename = 'img/bvp.png')}}" alt="">

                    </div>
                    </a>
                </div>
            </div>
        </div>
       
       <!--Item categories listing end-->




                
       

         <!--Footer-->
        <footer>
            <div class="container">
                <center>
                    <p>Copyright &copy; Team Takshashela. All Rights Reserved </p>  
                </center>
            </div>
        </footer>
        <!--Footer end-->

        
</body>
</html>
